[Desktop Entry]
Type=Application
Exec=pkexec /usr/sbin/setpassword
Icon=setpassword
Terminal=true
Name=Set Password
GenericName=Set System Passwords
GenericName[de]=setze Systempasswort
GenericName[pt]=cria uma palavra chave para o utilizador root
GenericName[ptBr]=cria uma palavra chave para o utilizador root
GenericName[ru]=Установка пароли системы
Categories=System;
Keywords=Password;passwd;
