[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-to-root -c /usr/sbin/sidux-setpassword
Icon=sidux-setpassword
Terminal=yes
Name=setpassword
GenericName=set system passwords
GenericName[de]=setze Systempaßwort
GenericName[ru]=Установка пароли системы
Categories=System;
