[Desktop Entry]
Name=set system passwords
Name[de]=setze Systempaßwort
Name[ru]=Установка пароли системы
Exec=/usr/sbin/sidux-setpassword
Icon=sidux-setpassword
Type=Application
Terminal=true
Categories=sidux;Config
