[Desktop Entry]
Name=set system passwords
Name[de]=setze Systempaßwort
Name[ru]=Установка пароли системы
Exec=su-to-root -c /usr/sbin/sidux-setpassword
Terminal=yes
Icon=sidux-setpassword
Type=Application
Terminal=true
Categories=sidux;Config
