[Desktop Entry]
Name[de]=setze Systempaßwort
Name=set system passwords
Exec=/usr/sbin/sidux-setpassword
Icon=sidux-setpassword
Type=Application
Terminal=true
Categories=sidux;Config
