Source: sidux-setpassword
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-setpassword/trunk
XS-Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-setpassword/trunk/

Package: sidux-setpassword
Architecture: all
Depends: ${shlibs:Depends}, su-me
Suggests: samba-common
Description: sets password for live user
 usable for system passwords (passwd) and samba passwords (smbpasswd)
