Source: sidux-setpassword
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: sidux-setpassword
Architecture: all
Depends: ${shlibs:Depends}, samba-common, su-me
Description: sets password for live user
 usable for shadow and smbpasswd
