Source: kanotix-setpassword
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.6.2

Package: kanotix-setpassword
Architecture: all
Depends: ${shlibs:Depends}, samba-common
Description: sets password for live user
 usable for shadow and smbpasswd
