#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

install/sidux-setpassword::
	help2man	--name=sidux-setpassword \
			--section=8 \
			--source=sidux \
			--no-info \
			--version-option="--dpkg-parsechangelog" \
			--output=$(CURDIR)/sidux-setpassword.8 \
				$(CURDIR)/sidux-setpassword
	convert icons/hicolor/32x32/apps/sidux-setpassword.png \
		debian/sidux-setpassword/usr/share/pixmaps/sidux-setpassword.xpm
	convert icons/hicolor/16x16/apps/sidux-setpassword.png \
		debian/sidux-setpassword/usr/share/pixmaps/sidux-setpassword-16.xpm


clean::
	rm -f $(CURDIR)/sidux-setpassword.8
